.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-right: 2rem;
}

.search-bar input[type='text'] {
  padding: 0.25rem 0.5rem;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 1rem;
  min-width: 200px;
}
